.letraTitulo {
    font-size: 40px;
    text-align: center;
}

.centro {
    text-align: center;
}

.espaco {
    margin: 100px;
}

.espaco15 {
    margin-top: 15px;
}

.espaco30 {
    margin-top: 30px;
}

.espacoD100 {
    margin-right: 100px;
}

.bordaDireita {
    border-right: 1px solid #ccc;
}
.bordaEsquerda {
    border-left: 1px solid #ccc;
}

.cinza {
    color: rgb(83, 83, 83);
}



html,
body {
    height: 100%;
    font-family: 'Red Hat Text', sans-serif;
}

/* Color Theme Swatches in RGBA */
.azul-escuro { color: rgba(9, 43, 64, 1); }
.azul-escuro-claro { color: rgba(15, 61, 89, 1); }
.rosa-escuro { color: rgba(191, 157, 138, 1); }
.rosa-claro { color: rgba(242, 193, 174, 1); }
.branco-diferente { color: rgba(242, 242, 242, 1); }



/* TEEEEEEEEEEEEEEEEEESTE */

.tamanho{
    width: 7em;
}

.centraliza td{
    vertical-align: middle;
    justify-content: center;
}